.external-labels {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
  }
  .external-labels .inner-labels {
    cursor: pointer;
  }
  .simple-box {
    padding: 15px;
}
h3.h3-basic-comman, h3.h3-basic-comman01 {
	color: #3d405c;
	margin: 0px 0px 15px 0px;
	font-size: 20px;
	margin-bottom: .5rem;
}
h3.h3-basic-comman01 {
	font-size: 16px;
}
.page-breadcrumb .breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
  border-top: 1px solid #e0e4ef;
  padding-top: 10px;
  font-size: 12px;
  margin: 0 0 20px;
}
.page-breadcrumb .breadcrumb li {
	margin: 0 10px 0 0;
}
.page-breadcrumb .breadcrumb li+li {
	margin: 0 10px 0 10px;
}
.page-breadcrumb .breadcrumb-link {
  color: #a6a6b7;
}
.page-breadcrumb .breadcrumb-item.active {
  color: #71728e;
}
.white-card {
	padding: 1.25rem;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
	border: 1px solid rgba(0,0,0,.125);
  position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-radius: .25rem;
}
.white-card-board {
  margin-bottom: 30px;
  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
	border: 1px solid rgba(0,0,0,.125);
  position: relative;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-radius: .25rem;
}
.white-card .input-form {
	position: relative;
}
.white-card .input-form input {
  padding: 12px 120px 12px 12px;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #71748d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d2e4;
  border-radius: 2px;
  transition: all 0.3s;
}
.white-card .input-form input:focus {
	color: #71748d;
	background-color: #fff;
	border-color: #a7a7f0;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(214, 214, 255, .75);
}
.white-card .input-form button {
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	cursor: pointer;
  height: 34px;
	width: 110px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	color: #fff;
	background-color: #5969ff;
	border-color: #5969ff;
	font-size: 14px;
	padding: 9px 16px;
	border-radius: 2px;
}
.search-influencers {
	display: flex;
}
.search-influencers .left-side-box {
	width: 80%;
	// margin: 0 2% 0 0;
}

.top-details {
	display: flex;
	justify-content: space-between;
	padding: 1.25rem;
}
.top-details .user-details-serach {
	width: 100%;
	// margin: 0 2% 0 0;
	// display: flex;
}
.user-avatar {
	margin: 0 14px 0 0;
    float: left;
    width:200px;
}
.user-avatar img {
    margin: 0 auto;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: transparent;
	display: block;
}
.name-user-rate {
	display: flex;
	flex-direction: column;
}
.user-details-serach {
	margin-bottom: 10px;
}
.user-avatar-name {
 display: flex;
 align-items: center;
}
.user-avatar-name h2 {
	margin: 0;
	font-size: 24px;
}
.rating-star {
	margin: 0 0 0 10px;
	font-size: 12px;
	color: #ffa811;
	display: flex;
	align-items: center;
}
.rating-star .mat-icon{
	height: 20px;
}
.rating-star p {
	margin: 0;
	color: #3d405c !important;
}
.user-avatar-address {
	font-size: 14px;
	color: #71748d;
}
.user-avatar-address p {
	display: flex;
	margin: 0 0 6px;
}
.user-avatar-address p .mat-icon {
	height: 15px;
    margin: 3px 5px 0 0;
}
.user-avatar-address span {
	margin: 0 10px 0 10px;
	overflow: hidden;
	height: 21px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user-avatar-address span span {
	margin: 0 0px 0 20px;
}
.label-lists {
	display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #eaeaea;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}
.label-lists a {
	background-color: #efeff6;
	color: #757691;
	display: inline-block;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  margin: 4px;
}
.top-details .search-user-msg {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.search-user-msg .btn-wishlist mat-icon {
	background-color: #efeff6;
	height: 30px;
	width: 30px;
	line-height: 30px;
	display: inline-block;
	border-radius: 50%;
	font-size: 16px;
	color: #3d405c;
	text-align: center;
}
.search-btn{
	line-height: 1px;
}
.send-msg-btn {
	cursor: pointer;
	color: #fff !important;
	background-color: #ff407b;
	border-color: #ff407b;
	font-size: 14px;
	padding: 0 16px;
	border-radius: 2px;
	height: 42px;
	display: block;
	text-align: center;
	line-height: 41px;
	margin: 3px 0px;
	width: 100%;
}
.sub {
	padding: 10px;
}
.sub .send-msg-btn {
	margin: 0;
	display: block;
	width: 100%;
	text-align: center;
	height: 36px;
	line-height: 36px;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.user-social-media ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #f9f9fc;
	display: flex;
	border-top: 1px solid #e6e6f2;
}
.user-social-media ul li {
	text-align: center;
	padding: 16px 10px;
	width: 20.66%;
}
.user-social-media ul li+li {
	border-left: 1px solid #e6e6f2;
}
.starRate{
    font-size: 18px;
}

.adjust-card{
	padding: 0;
}
.adjust-card h3 {
	margin: 0;
	padding: 1rem 1.25rem;
	font-weight: bold;
	text-transform: capitalize;
}
.label-sets {
	flex-direction: column;
	display: flex;
	padding: 0 1.25rem 1.25rem;
	border-bottom: 1px solid #eaeaea;;
}
.label-sets label {
	font-weight: normal;
	display: flex;
	cursor: pointer;
	align-items: center;
}
.label-sets label input {
	margin: 0 10px 0 0;
}
.locate{
	font-size: 15px;
    width: auto;
}
.imageIcon{
	margin: 0 4px 2px 0px;
	height: 20px;
}
.inputBud{
	border: 1px solid #cecbcb;
    width: 98%;
	margin-left: 3px;
	padding: 5px;
    height: 30px
}
.cityDrop {
	// width: 90%;
	// margin-left: 11px;
	width: 85%;
    margin-left: 20px;
    border: 1px solid #cccccc;
    height: 34px;
    line-height: 30px;
    padding: 0 10px 0 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*---- Loader ----*/
.app-loader,
.view-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: auto;
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.view-loader {
    display: block;
    padding-top: 160px;
    background: rgba(255, 255, 255, .3);
    z-index: 9999;
}
.view-loader * {
    margin: auto;
}
@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 
    50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@media screen and (max-width: 991px){
	.search-influencers {
		flex-direction: column;
	}
	.search-influencers .left-side-box, .search-influencers .right-side-box {
		width: 100% !important;
	}
	.top-details .user-details-serach {
		width: 75%;
	}
	.cityDrop{
		width: 95.7%;
	}
}
@media screen and (max-width: 640px){
	.top-details {
		flex-direction: column;
		padding: 1rem;
	}
	.top-details .user-details-serach, .top-details .search-user-msg {
		width: 100%;
		margin: 0;
	}
	.top-details .search-user-msg a {
		width: 100%;
		display: block;
		height: 35px;
		line-height: 34px;
		text-align: center;
		margin: 15px 0 0 0;
	}
	.user-social-media ul li {
		padding: 10px 10px 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 13px;
		line-height: 24px;
	}
	.cityDrop{
		width: 93%;
	}
}

@media screen and (max-width: 480px){
	.white-card .input-form input {
		padding: 12px;
	}
	.white-card .input-form button {
		position: static;
		width: 100%;
		margin: 5px 0 0 0;
	}
	.user-avatar {
		text-align: center;
		float: none;
	}
	.user-avatar img {
		margin: 0 auto 10px;
	}
	.name-user-rate, .user-avatar-address p {
		align-items: center;
		justify-content: center;
	}
	.cityDrop{
		width: 91%;
	}
}
.star-icon{
	font-size: 20px;
	color:#f70;
	width: 20px !important;
    height: 20px !important;
}
.fourBlogs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.fourBlogs .boxes {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-left-text {
   font-size: 16px;
   letter-spacing: 1px;
}
.box-left-text p {
   font-size: 12px;
   margin: 0 0 4px;
}
.box-left-text span {
   font-size: 12px;
   margin: 0 0 2px;
   font-weight: bold; 
}
.box-img-text mat-icon {
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
}
.icon-set.views {
    background: #dffaff !important;
    color: #66e2f6 !important;
}
.icon-set.user {
    background: #dbdeff !important;
    color: #5969ff !important;
}
.icon-set.partner {
    background: #ffdbe6 !important;
    color: #ff4d83 !important;
}
.icon-set.dollar {
    background: #fff2d5 !important;
    color: #ffc750 !important;
}
.graphBlogs {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 0;
}
.graphBlogs .boxes {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.graphBlogs .boxes h3 {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0;
}
.graph-dest {
    padding: 10px;
}
.bygender {
    width: 28%;
}
.byfollowers {
    width: 29%;
    margin: 0 1.5%;
}
.bylocation {
    width: 40%;
}
mat-progress-bar{
    margin: 25px 0 0 0 !important;
}