<div id="wrapper" class="center">
  <img src="assets/image/contact-girl.jpeg" style="padding: 16px;">
  <br/>
  <br/>
  <p>You can Always Contact us</p>
  <a [href]="mailText" target="_blank">Contact us at jdeangelis@suitesocialenterprise.com</a>
</div>



<!-- <div id="wrapper">
  <div class="login-form">
    <div class="show-web-app">
      <div class="show-inner-app">
        <div class="container container-slider">
          <div class="slide-logo"><img src="assets/image/logo01.png"></div>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item slide01 active"></div>
              <div class="item slide02"></div>
              <div class="item slide03"></div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="get-the-app">
      <div class="login">
        <div class="outer-circle01"></div>
        <div class="outer-circle03"></div>
        <div class="outer-circle04"></div>
        <div class="logo text-center"><img src="assets/image/logo01.png"></div>
        <h3 class="text-center">Contact Us</h3>
        <form>
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" required="required"> -->
            <!-- [(ngModel)]='fgtEmail' -->
          <!-- </div> -->
          <!-- <div class="form-group">
            <label>Description</label>
            <textarea name="desc" required="required"></textarea> -->
            <!-- [(ngModel)]='desc' -->
          <!-- </div>
          <button type="submit">Submit</button> -->
          <!--  [disabled]='checkfgtEmail()' (click)='forgetPass()' -->
        <!-- </form>
        <div class="create-link text-center">Continue <a href="javascript: void(0);" (click)='toLogIn()'>Log In</a>
        </div>
      </div>
      <div class="get-app">
        <a href="javascript: void(0);"><img src="assets/image/google.png" alt="image"></a>
        <a href="javascript: void(0);"><img src="assets/image/apple.png" alt="image"></a>
      </div>
    </div>
  </div>
</div> -->