<div id="wrapper">
  <div class="banners"> 
    <div [hidden]="!imageLoader">
      <mat-spinner style="right: -50%;left: 38%;" color="warn"></mat-spinner>
    </div>
      <img [hidden]="imageLoader" src="assets/image/topbanner.webp" (load)="this.imageLoader = false;" />
    <!-- <img src="assets/image/topbanner.webp" id="bannerlogos" alt="Image is loading..." /> -->
      <div class="overlay" [hidden]="imageLoader">
        <p class="color-white wellcome-font">WELCOME TO SUITESOCIAL </p>
        <p class="color-white connecting-font">CONNECTING BRANDS & INFLUENCERS WITH ARTIFICIAL INTELLIGENCE </p>
        <button routerLink="/contact" class="learn-more-button"> Learn More</button>
      
    </div>
    <!-- <div class="bannerContent">
      <div class="">
        <p class="color-white2 wellcome-font">WELCOME TO SUITESOCIAL </p>
        <p class="color-white2 connecting-font">CONNECTING BRANDS & INFLUENCERS WITH ARTIFICIAL INTELLIGENCE </p>
        <button routerLink="/contact" class="learn-more-button"> Learn More</button>
      </div>
    </div>
    <div class="image-container">
      <img src="assets/image/topbanner.webp" />
      
  </div> -->
    <br/>
    <br/>
    <p style="text-align: center; font-size: 1.2em;"><b>SEE WHAT'S IN IT FOR YOU</b></p>
    <div class="secondBanner">
      <img src="assets/image/mainbanner.webp" alt="mainbanner">
    </div>
  </div>
  <div id="centralizer">
    <!-- <h1>
      About Us
    </h1> -->
    <h2>
      1. Find suitable brands you can trust
    </h2>
    <p>
      SuiteSocial uses a sophisticated data set to find brands and other influencer collaborators to work with that help you go from a creator to a business owner.
    </p>
    <blockquote>
      “Our job is to make sure that you as the creator are the top priority. From jobs, events, finding creatives to work with and more, we’ve got you covered.”
    </blockquote>
    <img src="assets/images/about-us-1.png" alt="">
    <hr>

    <h2>
      2. GET PAID FAIRLY
    </h2>
    <p>
      We take the guesswork out of the negotiation so that each exchange is priced fairly.
    </p>
    <blockquote>
      “When creating campaigns I found that influencers didn’t know how much to charge, and I didn’t how much to pay. With SuiteSocial I know the fair price to pay each influencer which makes influencer campaign planning a breeze.”
      — I. S.
    </blockquote>
    <img src="assets/images/about-us-2.png" alt="">
    <hr>

    <h2>
      3. REPORT CAMPAIGN RESULTS WITH ANALYTICS
    </h2>
    <p>
      Discover your top performing collaborations while discovering valuable follower insights.
    </p>
    <blockquote>
      “I know what worked, what didn’t, and how to engage my audience best next time around.”
      — A. D.
    </blockquote>
    <img src="assets/images/about-us-3.png" alt="">
    <hr>
  </div>
</div>