.top-title-head {
    background: #ea3441;
    padding: 10px;
    box-shadow: 0 0 10px -8px #000;
    margin: 0 0 5px;
    border-radius: 4px;
    color: #fff;
}
.top-title-head .title {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
.top-title-head .timeline {
    // color: #ea3441;
    font-size: 12px;
    line-height: 12px;
}
.detail-post {
    display: block;
    overflow: hidden;
}
.detail-post .postSlider {
    width: 45%;
    float: left;
    margin: 0 2% 0 0;
}
.detail-post .description-tab {
    text-align: justify;
    margin: 10px 0 0;
}
.detail-post .description-tab .description-title {
    color: #242020;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
.detail-post .description-tab .description-details {

}
.container{
    width: 100%;
}
.backArrow{
    cursor: pointer;
}
.backArrow:focus{
  outline:none;
}
.slide-image{
    object-fit: contain;
    width: 100%;
    height: 300px;
}
.col-md-12.py-3:focus,.carousel-inner:focus, div:focus, .carousel.slide:focus{
    outline:none;
}
.carousel-control-prev{
    display: flex !important;
}