<div id="wrapper">
  <div id="centralizer">
    <h1>
      Our Story
    </h1>
    
    <p>
      <b>
        SuiteSocial is a SaaS startup powering Gen Z content creators and influencers in the passion economy with AI-powered tools to promote their talents, build their businesses, and place a dynamic price on each brand-making collaboration. 
      </b>
    </p>
    <p>
      <b>
        SuiteSocial powers creators in the passion economy.
      </b>
    </p>
    <p><em>
        Our mission is to make the next generation of workers in the passion economy a happy and profitable workforce. 
      </em>
    </p>
    <ul>
      <li class="li">
        We give Gen Z a suite of business tech tools they will need to succeed in the passion economy, 
      </li>
      <li class="li">
        We use our AI to match the right brands and creators at a price as dynamic as the duo.
      </li>
    </ul>
    <p>
      Our story: Drawing on experience from both sides of the table, co-founder, Jen DeAngelis has served as a digital brand strategist for clients like Hilton Worldwide, Bass Pro Shops, Four Seasons Hotels & Resorts (to name a few), and as a lifestyle influencer on with 20K followers across her platforms. 
      We know how difficult it can be to find and create authentic and effective content with the right brands or influencers, and when the connection is made the real work of a fair deal still needs to happen. 
      SuiteSocial solves for that. We do this by finding the right match between influencers and brands, and by pricing each individual influencer based off of their unique data and performance profile through an AI-driven pricing algorithm (because all influencers with 100K followers are not created equal). Lastly, we provide in-depth analytics to deliver customer insights and *real* ROI to inform brand strategy moving forward.
    </p>
      <!-- <p>
      SuiteSocial builds trust between brands and influencers using artificial intelligence to scale influencer marketing. 
      Drawing on experience from both sides of the table, co-founder, Jen DeAngelis has served as a digital brand strategist for 
      clients like Hilton Worldwide, Bass Pro Shops, Four Seasons Hotels & Resorts (to name a few), and as a lifestyle influencer 
      on Instagram and YouTube with 20K followers. We know how difficult it can be to find and create authentic and effective 
      content with the right brands or influencers, and when the connection is made the real work of a fair deal still needs to happen. 
      SuiteSocial solves for that. We do this by finding the right match between influencers and brands, and by pricing each individual 
      influencer based off of their unique data and performance profile through an AI-driven pricing algorithm (because all influencers 
      with 100K followers are not created equal). Lastly, we provide in-depth analytics to deliver customer insights and *real* ROI to 
      inform brand strategy moving forward. At the end of the day, we're a data company that can give brands like Coca-Cola (who have 
      lost direct connection with their consumers due to too many intermediaries) valuable consumer data. SuiteSocial is artificially intelligent 
      influencer marketing.
    </p> -->
    
    <!-- <p>
      <strong>Our team:</strong> SuiteSocial was founded by two female UC Berkeley MBAs, Jennifer DeAngelis and Lea Yanhui Li. While DeAngelis has 
      deep rooted experience in the influencer market, as a former influencer brand strategist and a current micro-influencer @jendeangelis (also find 
      her on YouTube), Lea, our CTO is an AI/ML expert. Lea brings 10 years of technology and software engineering leadership experience across enterprise 
      software, cloud infrastructure, machine learning and IoT. She's lead technology and engineering at a number of successful technology companies, 
      such as Oracle and Hitachi. An engineer by heart she loves building stellar product engineering teams and creating innovative and disruptive products. 
      Lea has a background in computer science and computer engineering with a master degree from National University of Singapore. She is also an EMBA19 
      from Haas school of business, aiming to use business toolkits to help better pursue her passion of utilizing technology as a catalyst for social impact 
      and bringing ideas to fruition. Our team is rounded out with Connor Kennedy, a UC Berkeley Bear focusing on Computer Science, with a robust neural 
      network/AI background.
    </p>

    <p>
      Whether you’re an influencer or a brand, SuiteSocial is here to help. 
    </p> -->
  </div>
</div>