<div id="wrapper">
  <div id="centralizer">
    <h1>Blog</h1>
    <ul class="posts">
      <li>
        <h2>
          How much should you pay influencers?
        </h2>
        <p>
          This is the number one question we get from brands. Or conversely, from influencers, how much should I ask for? The interesting thing is that as it stands, there really isn’t a great way to price influencer posts.
        </p>
        <p>
          The marketing “experts” will say to base payment off of some combination of engagement and number of followers, which can be (and often are) bought, which just encourages more fraud -- with the industry facing about $2B in fraud in just the last year alone.
        </p>
          How do we approach pricing? We think of pricing in a completely new way -- with the help of our artificial intelligence. We are approaching the industry with dynamic pricing, if you’ve used Uber or Lyft you’re most likely familiar with the concept. For those of you who are less familiar, Dynamic pricing is based on the changes in real-time product supply and demand. It takes into account the price fluctuations in the market, monitor competitor activity and individual product demand and supply (Business.com). We also look at relevancy, so if the influencer has curly hair and a beauty client is running a curly hair campaign, the curly haired influencer should first, be recommended for the campaign and secondly, be paid a premium (because less people wear their hair curly on social media, so it’s a supply and demand thing).
        <p>
          While our competitors are looking at two factors (engagement and followers), we’re looking at 100+ attributes because not all influencers with 50K followers are created equal.
        </p>
      </li>
      <li>
        <h2>
          How do you find the right influencers for your brand?
        </h2>
        <p>
          With millions of influencers out there, how do you find the right influencer for your campaign? Well there’s a lot to consider from the number of people you want to reach, to the look and feel of the brand and by extension the influencer, not to mention the ages, locations, etc.of the end-consumer you’re trying to reach.
        </p>
        <p>
          Basically you need to consider two sets of data, the influencer themselves and their audience. From there, you need to identify your top requirements. Let’s walk through an example shall we? Let’s say you’re a restaurant chain opening a new location in SoMa (a neighborhood in San Francisco). You’d likely want to target an influencer who lives or works in SoMa, who has a good amount of followers residing in San Francisco, ages 22-55 with disposable income, and maybe you’ve had a recent press hit on Buzzfeed.com so people who follow Buzzfeed.com and this particular influencer would be really great (that’s what we call affinity linkages). Furthermore, you need to trust this influencer, you’d ideally have known someone has worked with them before and you’d want a post price that makes sense for the campaign.
        </p>
          So as you can see, a simple task becomes quite difficult and that’s just one collaborator. What if you want to do this with 100 influencers? Or 1,000? Or 10,000? Well that’s super difficult, but that’s why we created SuiteSocial. 
        <p>
          We can scale, so you don’t have to.
        </p>
        <h3>
          Trends in influencer marketing
        </h3>
        <strong>Market size</strong>
        <p>
          By 2020, influencer marketing platform market $10Billion, by 2024, $22.3Billion. Every social platform attracts influencers to some degree, but Instagram is the gold standard for the group. Nearly four in five (79%) brands predominantly tap Instagram for influencer campaigns, compared with Facebook (46%), YouTube (36%), Twitter (24%), and LinkedIn (12%), per Influencer Marketing Hub. 
        </p>
        <strong>Budgets are increasing in 2019</strong>
        <p>
          On average budgets are on the rise, 39% of marketers surveyed with a digital marketing budget above $500,000 plan to increase their influencer marketing budget in 2019, with only 10% planning to decrease their investment in influencer marketing channels. 54% are planning to spend more than $250,000 annually on influencer marketing, and 17% are going to spend more than $1 million.
        </p>
        <blockquote>
          39% of marketers plan to increase their influencer marketing budget in 2019
        </blockquote>
        <img src="assets/images/blog-2.png" alt="">
        <strong>
          Frequency of Influencer Campaigns
        </strong>
        <p>
          Influencer marketing is also moving from a once or twice a year campaign tactic to a strategy used more frequently throughout the year. In fact, 66% of marketers surveyed ran more than two campaigns in 2018, and more than a quarter ran five or more campaigns. 38% of marketers ran between two to five programs per year per brand, and 17% ran more than five programs. In addition, 42% of marketers shifted from one-off, tactical campaign execution to an "always on" influencer strategy. We believe more marketers will make the change in 2019, by making a commitment to having influencers activated throughout the year.
        </p>
        <blockquote>
          66% of marketers surveyed ran three or more campaigns throughout the year
        </blockquote>
        <img src="assets/images/blog-2-2.png" alt="">
        <strong>
          WORKING WITH INFLUENCERS AND PARTNERS
        </strong>
        <p>
          Influencer marketing programs can be time-consuming to manage, and marketers must make room for influencer marketing in an already bustling schedule. As a result, the amount of time it takes to manage influencer marketing programs is ranked as one of the top challenges of 2019. To alleviate the strain on bandwidth, 26% of marketers partner with a managed service or “turn-key” provider to run their influencer marketing programs. As influencer marketing becomes more robust and ongoing, we believe more marketers will use turnkey services to manage these programs.
        </p>
        <img src="assets/images/blog-2-3.png" alt="">
      </li>
    </ul>
  </div>
</div>
