<div class="mobile-logo">
  <a routerLink="/login" class="logo" *ngIf="['/about_us','/our_story', '/influencers', '/blog'].includes(getRouterUrl())">
    <img src="assets/image/logo01.png" alt="">
  </a>
</div>
<div class="navmenu">
  <a routerLink="/login" class="logo" *ngIf="['/about_us', '/our_story', '/influencers','/blog'].includes(getRouterUrl())">
    <img src="assets/image/logo01.png" alt="">
  </a>
  <ul>
    <li>
      <a routerLink="/about_us">About us</a>
    </li>
    <li>
      <a routerLink="/our_story">Our story</a>
    </li>
    <li>
      <a routerLink="/influencers">Influencers</a>
    </li>
    <li>
      <a routerLink="/blog">Blog</a>
    </li>
    <li>
      <a href="https://www.instagram.com/suitesocialinc/" target="_new">
          <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
</div>
